form {
  width: 550px;
}

select.rules {
  margin-bottom: 10px;
}

table.search-options {
  margin-bottom: 10px;
}

.table td {
  border: 0;
}

.results table {
  display: none;
}

input.stop.btn, .icon-loading-spinner {
  display: none;
}

.results th.sorted.ascending:after {
  content: "\25bc";
  padding-left: 2px;
  font-size: 6px;
}

.results th.sorted:not(.ascending):after {
  content: "\25b2";
  padding-left: 2px;
  font-size: 6px;
}

.results th {
  cursor: pointer;
}

form td:nth-child(2) {
  cursor: pointer;
}
