form {
  width: 550px;

  table.search-options {
    margin-bottom: 10px;
  }

  label.inactive-checkbox {
    padding: 10px 11px;
  }

  input.query {
    width: 85%;
  }

  .query-clear {
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    display: none;
  }

  .new-item-link {
    margin-top: 10px;
  }
}

.table td {
  border: 0;
}

input.stop.btn, .icon-loading-spinner, .results table {
  display: none;
}

.results {
  th {
    cursor: pointer;

    &.sorted {
      &.ascending:after {
        content: "\25bc";
        padding-left: 2px;
        font-size: 6px;
      }

      &:not(.ascending):after {
        @extend th.sorted.ascending:after;
        content: "\25b2";
      }
    }
  }

  td {
    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      min-width: 80px;
    }
  }
  span.delim {
    margin: 0 5px;
    color: #BBB;
  }

  a.edit-this {
    color: green;
    font-weight: bold;
  }
}
