form {
  width: 550px;
}

select.rules {
  margin-bottom: 10px;
}

table.search-options {
  margin-bottom: 10px;
}

.table td {
  border: 0;
}

.results table {
  display: none;
}

input.stop.btn, .icon-loading-spinner {
  display: none;
}

.results th.sorted.ascending:after {
  content: "\25bc";
  padding-left: 2px;
  font-size: 6px;
}

.results th.sorted:not(.ascending):after {
  content: "\25b2";
  padding-left: 2px;
  font-size: 6px;
}

.results th {
  cursor: pointer;
}

.results td:nth-child(2), .results td:nth-child(3), .results td:nth-child(4) {
  min-width: 80px;
}

form td:nth-child(2) {
  cursor: pointer;
}

span.delim {
    margin: 0 5px;
    color: #BBB;
}

a.edit-this {
    color: green;
    font-weight: bold;
}

.new-item-link {
  margin-top: 10px;
}

label.inactive-checkbox {
  padding: 10px 11px;
}
